 <h3>Agregar : {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre "
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <h3>Agregar : {{ power() }}</h3>

    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (change)="power.set(+txtPower.value)"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />
    <button class="mt-2 btn btn-primary" (click)="addCharacter()">Agregar</button>
