@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-color: v.$rosa;
    h3, 
    .dia {
        text-align: center;
        color: v.$blanco;
    }
    .dia {
        font-size: 3rem;
        text-transform: uppercase;
    }

   img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  width: auto;
}
}

.escenarios-contenedor {
    @include m.contenedor;
    @include m.tablet {
        @include m.grid(2);
    }

    
}
.escenario {
    padding-top: 2rem;
    .nombre-escenario {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}

.calendario {
    @include m.resetear-lista;

    li {
        padding: 2.5rem;
        font-weight: 700;
        span {
            font-weight: 400;
        }
    }
}

.bg-amarillo {
    margin-bottom:1rem;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;

    border-radius: 16px;
    background-color: v.$amarillo;
    li:nth-child(odd) {
        background-color: lighten(v.$amarillo, 5%);
    }

}
.bg-verde {
    margin-bottom:1rem;

    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);

    justify-content: center;
    border-radius: 16px;

    background-color: v.$verde;
    li:nth-child(odd) {
        background-color: lighten(v.$verde, 5%);
    }
 

}