<p-panel header="Pípes Numericos" class="p-1">
  <p>Pipes incluidos en angular , dependiendo la version en Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p> Saludos {{name}}, es un place invitarlo a nuestro evento. </p>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="keyValue Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true"> </p-fieldset>
  </div>
</div>
