<h1>Dragon Ball</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar : {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre "
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <h3>Agregar : {{ power() }}</h3>

    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (change)="power.set(+txtPower.value)"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />
    <button class="mt-2 btn btn-primary" (click)="addCharacter()">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">


    <h3>Listado Fuertes</h3>
    <ul>
      @for(character of characters(); track character.id; let idx = $index){
      @if(character.poder > 500){
      <li>
        <span>{{ idx + 1 }} - {{ character.name }} </span>
        <strong
          [class.text-danger]="character.poder > 9000"
          [class.text-info]="character.poder < 9000"
        >
          ({{ character.poder }})
        </strong>
      </li>
      } @else {
      <li>Usuarios con menos poder - {{ character.name }}</li>
      } }
    </ul>
  </div>
</section>
