    <div id="logo" class="my-4 px-6">
        <h1 class="text-lg md:text-2xl font-bold text-white">
          {{envs.companyName}}<span class="text-blue-500">{{envs.companyName2}}</span>.
        </h1>
        <p class="text-slate-500 text-sm">{{envs.companySlogan}}</p>
      </div>
      <div id="profile" class="px-6 py-10">
        <p class="text-slate-500">Bienvenido</p>
        <a href="#" class="inline-flex space-x-2 items-center">
          <span>
            <img
              class="rounded-full w-8 h-8"
              src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80"
              alt=""
            />
          </span>
          <span class="text-sm md:text-base font-bold"> Edward Tompson </span>
        </a>
      </div>
